---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

const data = await fetch('https://thronesapi.com/api/v2/Characters')
const characters = await data.json()
---

<Layout title='Game of Thrones'>
  <div class='grid grid-cols-3 gap-20 my-20'>
    {
      characters.map((character: any) => (
        <a href={`/${character.id}`} transition:animate='slide'>
          <div class='relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md'>
            <div class='relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40'>
              <img
                src={character.imageUrl}
                alt='img-blur-shadow'
                layout='fill'
                class='object-cover object-center w-full h-full rounded-xl'
              />
            </div>

            <div class='p-6'>
              <h1 class='text-center text-xl'>{character.fullName}</h1>

              <h2 class='mt-3 text-lg text-center'>({character.title})</h2>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
