---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='Pokemon-Home'>
  <h1 class='font-bold text-lg text-red-950'>Hello, world From Astro!</h1>
</Layout>
