---
import ViewTransitions from 'astro/components/ViewTransitions.astro'
type Props = {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body
    class='min-h-screen bg-gradient-to-bl from-gray-700 via-gray-900 to-black py-10 text-white flex flex-col items-center'
  >
    <nav class=''>
      <h1
        class='text-center text-6xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400'
      >
        {title}
      </h1>
    </nav>

    <div class='w-4/5'>
      <slot />
    </div>
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
